{{ if .Site.Params.widgets.facebook_like }}

<!--id="facebook-likebox-2" class="widget widget_facebook_likebox"-->
<aside >
  <h3 class="widget-title">
    <a href="https://www.facebook.com/canaldadietabr/" target="_blank">Siga o Canal Da Dieta no Facebook</a>
  </h3>
  <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fcanaldadietabr%2F&tabs&width=340&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="214" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
  
</aside>
{{ end }}
