<div class="social-icons">
  <ul id="blog">
    <li class="facebook">
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" title="{{ .Permalink }}" target="_blank">Compartilhar</a>
    </li>
    <li class="twitter">
      <a href="https://twitter.com/intent/tweet?text={{ .Title }}&url={{ .Permalink }}" title="{{ .Title }}" target="_blank">Tweetar</a>
    </li>
    <li class="google-plus">
      <a href="https://plus.google.com/share?url={{ .Permalink }}" title="{{ .Title }}" target="_blank">+1</a>
    </li>
  </ul>
</div>
